<div>
  <a href="/gamesearch/1" class="text-white text-center">1-50</a>
  <a href="/gamesearch/2" class="text-white text-center">51-100</a>
  <a href="/gamesearch/3" class="text-white text-center">101-153</a>
</div>

<div id="games-list" class="container-fluid animate__animated animate__fadeInTopLeft">
  <div class="row row-cols-2 d-flex justify-content-evenly">
    {{#each chosenArray as |game|}}
    <div class="card text-black col m-2" style="width: 18rem;">
      <img src={{game.thumbnail}} class="card-img-top col mt-2" alt="..." id="save-img">
      <div class="card-body">
        <h5 class="card-title"><span id="save-title">{{game.title}}</span></h5>
        <p class="card-text" id="save-description">{{game.short_description}}</p>
        <p>{{game.genre}} | {{game.platform}} | {{game.developer}}</p>
        <div class="d-grid">
          <a href={{game_url}} class="btn btn-primary m-1">Play the game!</a>
          <a href="#" id="saveBtn" class="btn btn-primary save-btn m-1" data-gameid="{{game.id}}">Save</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<script src="/js/saveGame.js"></script>
<script src="/js/titleGenreSearch.js"></script>