<div>
    <a href="/gamesearch/1">1-50</a>
    <a href="/gamesearch/2">51-100</a>
    <a href="/gamesearch/3">101-153</a>
</div>  
<div id="games-list">
    {{#each chosenArray as |game|}}
<div class="card" style="width: 18rem;">
  <img src={{game.thumbnail}} class="card-img-top" alt="..." id="save-img">
  <div class="card-body">
    <h5 class="card-title"><span id="save-title">{{game.title}}</span> {{game.average_stars}}</h5>
    <p class="card-text" id="save-description">{{game.short_description}}</p>
    <p>{{game.genre}} | {{game.platform}} | {{game.developer}}</p>
    <a href={{game_url}} class="btn btn-primary">Play the game!</a>
    <a href="#" class="btn btn-primary save-btn" data-gameid="{{game.id}}">Save</a>
  </div>
</div>
    {{/each}} 
</div>

<script src="/js/saveGame.js"></script>