
<div class="greeting">Welcome, {{username}}!</div>
<div id="games-card">

    {{#each games as |game|}}
<div class="card" style="width: 18rem;">
  <img src={{game.thumbnail}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{game.title}}</h5>
    <p class="card-text">{{game.short_description}}</p>
    <p>{{game.genre}} | {{game.platform}} | {{game.developer}}</p>
    <a href={{game_url}} class="btn btn-primary">Play {{title}}!</a>
    <button id="addReviewBtn" class="btn btn-primary review-btn" value={{id}}>Add a review</button>
     <a class="btn btn-primary del-game" data-savedid = "{{game.saved.id}}">Remove</a>
  </div>
</div>
    {{/each}} 
</div>

<script src="/js/deleteGame.js"></script>
<script src="/js/titleGenreSearch.js"></script>
    