{{!-- Carousel --}}

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {{#each carouselGames}}
    <div class="carousel-item item{{#if @first}} active{{/if}}" data-bs-interval="5000">
      <img src={{this}} class="d-block w-100" alt="GAME-ON">
    </div>
    {{/each}}
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span>Left</span>
    </a>
     <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span>Right</span>
    </a>

    {{!-- GAME ON logo  --}}
    {{!-- <div class="carousel-item active" data-bs-interval="10000">
      <img src={{carouselGames}} class="d-block w-100" alt="GAME-ON">
    </div> --}}
    {{!-- 5 featured games --}}
    {{!-- <div class="carousel-item" data-bs-interval="2000">
      <img src="{{carouselImage2}}" class="d-block w-100" alt="Play">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{{carouselImage3}}" class="d-block w-100" alt="Play">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{{carouselImage4}}" class="d-block w-100" alt="Play">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{{carouselImage5}}" class="d-block w-100" alt="Play">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{{carouselImage6}}" class="d-block w-100" alt="Play">
    </div> --}}
  </div>
<p>

  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">

    Click ME
  </button>
</p>
<div style="min-height: 120px;">
  <div class="collapse collapse-horizontal" id="collapseWidthExample">
    <div class="card card-body" style="width: 300px;">
      Welcome to GAME-ON website! Driven by passion, we are a global leader in digital interactive entertainment.

      Headquartered in Chicago in Illinois, we develop and deliver games, content, and online services for
      Internet-connected consoles,
      mobile devices, and personal computers. Through our cutting-edge games, innovative services, and powerful
      technologies, we bring worlds with
      infinite possibilities to everyone worldwide! To active players and fans around the globe!

    </div>
  </div>
</div>