<div class="review-container container animate__animated animate__fadeInDown">
    <div class="row row-cols-3 d-flex">
        <div class="review-card-container col">
            <div class="card" id="review-game-card" style="width: 18rem;">
                <img src={{thumbnail}} class="review-card-img-top mt-2" alt="...">
                <div class="review-card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{short_description}}</p>
                    <p>{{genre}} | {{platform}} | {{developer}}</p>
                </div>
            </div>
        </div>
    </div>

        <form action="" method="post" id="reviewForm" class="col m-5">
            <!-- Hidden field to store the game ID -->
            <input type="hidden" id="gameIdHolder" name="gameId" value="{{ game_id }}">
            <div class="review-input-group">
                <label for="reviewBody" class="text-white">Write your review:</label>
                <textarea id="reviewBody" name="reviewBody" rows="10"></textarea>
            </div>
            <div class="review-input-group">
                <label for="starRating" class="text-white mb-1">Star Rating:</label>
                <select id="starRating" name="starRating" class="p-2" required>
                    <option value="1">1 Star</option>
                    <option value="2">2 Stars</option>
                    <option value="3">3 Stars</option>
                    <option value="4">4 Stars</option>
                    <option value="5">5 Stars</option>
                </select>
            </div>
            <div>
                <button class="review-button btn btn-primary" type="submit">Submit Review</button>
            </div>
        </form>
</div>


<script src="/js/addReview.js"></script>